<h1>Members</h1>

<h2>
  <a href="./">
    <img src="/images/logo.png" alt="Home Page" style="width:250px;height:150px;border:0;position:fixed; top:0; right:0;">
  </a>
</h2>


<p>First Name: <%= @member.first_name %></p>
<p>Last Name: <%= @member.last_name %></p>
<p>Post Code: <%= @member.post_code %></p>
<p>Email Address: <%= @member.email_address %></p>
