<h1>Genres</h1>
<form>
<div>
  <input type="search" id="mySearch" name="q"
   placeholder="Enter Genre Here">
  <button>Search</button>
</div>
</form>
<br>

<h2>
  <a href="./">
    <img src="/images/logo.png" alt="Home Page" style="width:250px;height:150px;border:0;position:fixed; top:0; right:0;">
  </a>
</h2>

<h2>
  <a href="/genres/new">
    <img src="/images/addicon.jpeg" alt="Add new genre" style="width:75px;height:75px;border:0">
  </a>
</h2>
<br>
<table>
  <tr>
    <th>Genre</th>
    <th></th>
    <th>Edit</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% for genre in @genres %>
  <tr>
    <td><a href="/genres/<%= genre.id %>"><%= genre.genre %></a></td>
    <td>|</td>
    <td><a href="/genres/<%= genre.id %>/edit">
      <img src="/images/editicon.jpeg" alt="Edit" style="width:42px;height:42px;border:0" class="icon">
    </a></td>
    <!-- <td><a href="/genres/<%= genre.id %>/delete">
      <img src="/images/deleteicon.jpeg" alt="Delete" style="width:42px;height:42px;border:0" class="icon">
    </a></td>
    <td>|</td> -->
  </tr>
  <% end %>
</table>
