<h1>Genres</h1>
<br></br>
<form method="get" action="/genres/new">
    <button type="submit">Register now GENRE</button>
</form>
<br></br>

<table>
  <tr>
    <th>Genre</th>
    <th></th>
  </tr>
  <% for genre in @genres %>
  <tr>
    <td><a href="/genres/<%= genre.id %>"><%= genre.genre %></a></td>
    <td>|</td>
  </tr>
  <% end %>
</table>
