<h1>Genres</h1>

<table>
  <tr>
    <th>Genre</th>
    <th></th>
  </tr>
  <% for genre in @genres %>
  <tr>
    <td><a href="/genress/<%= genre.id %>"><%= genre.genre %></a></td>
    <td>|</td>
  </tr>
  <% end %>
</table>
