<form method="post" action="/genres">

  <label for="genre-field">Genre:</label>
  <input
  type="text"
  name="genre"
  id="genre-field"
  />


  <input type="submit" value="Add new genre!">
</form>
