<p>Genre: <%= @enre.genre %></p>

<p><a href="/genres/<%= @genre.id %>/edit">Edit Genre</a></p>
<form method="post" action="/genres/<%= @genre.id %>/delete">
  <input type="Sumbit" value="Canel Edit"/>
</form>
