<h1></h1>
<img src="/images/lostbook.png" alt="Error" style="width:300px;height:300px;align="middle">
<br>

<h3>WOAH THERE!</h3><br>
<h3>You can't delete that book. It is currently out on loan!</h3>
<br>
<h3> Please find it and<a href="../loans"> mark it as returned </a>before deleting</h3>
