<form method="post" action="/books">

  <input
  id ="title"
  name="title"
  type="text"
  >

  <select name="author_id">
    <% for author in @authors %>
    <option value="<%= author.id %>">
    <%= author.author%>
  </option>
    <% end %>
  </select>

  <select name="genre_id">
    <% for genre in @genres %>
    <option value="<%= genre.id %>">
    <%= genre.genre%>
  </option>
    <% end %>
  </select>

  <input type="submit" value="Add new book!">
<br><br>
<p> NB:  If <u><i>both</i></u> the *AUTHOR* <u><i>and</i></u> *GENRE* do <b>NOT</b> appear in these drop down menus (above) - You will need to add them! <br><br> Click on icons below to take you to the 'add AUTHOR' and 'add GENRE' pages :O) </p>
  <h4>
    <a href="/authors/new">
      <img src="/images/authoricon.jpeg" align="center" alt="Add Author" style="width:100px;height:100px;border:0">
    </a>
  </h4>

  <h4>
    <a href="/genres/new">
      <img src="/images/genreicon.png" align="center" alt="Add Genre" style="width:100px;height:100px;border:0">
    </a>
  </h4>


  <!-- <div style='display: flex; justify-content: center;width:100px;height:100px'>
  <a href="#">
    <img width:100px;height:100px src="/images/genreicon.png" onmouseover="this.src='/images/plusicon.png'" onmouseout="this.src='/images/genreicon.png'" />
  </a> -->
</div>



</div>

</form>
