<form method="post" action="/books">

  <input
  id ="title"
  name="title"
  type="text"
  >

  <select name="author_id">
    <% for book in @books %>
    <option value="<%= book.author_id %>">
    <%= book.author.author%>
  </option>
    <% end %>
  </select>

  <select name="genre_id">
    <% for book in @books %>
    <option value="<%= book.genre_id %>">
    <%= book.genre.genre%>
  </option>
    <% end %>
  </select>


  <input type="submit" value="Add new book!">

</form>
