<h1>Title:<%= @authors.name %></h1>

<p>Author: <%= @author.name %></p>

<h3>Members who have read this book:</h3>

<ul>
  <% @book.members.each do |member| %>
  <li><%= member.first_name, member.last_name%></li>
  <% end %>
</ul>
