<html>
<head>
<style>
body  {
  background: url('/images/booksonwhite.jpg')
  no-repeat center center fixed;
  background-size: cover;
}
/* Background image for home page only */
</style>
</head>
  <h1 style="background-color:white; opacity: 0.90; border-radius: 5px; padding: 20"> Welcome to The Library</h1>
  <h3 style="background-color:white"><i>'Google can bring you back 100,000 answers; but a librarian will bring you back the right one'</i><br></br> Neil Gaiman  </h3>
<body>
  <h2>
    <a href="./">
      <img src="/images/logo.png" alt="Home Page" style="width:250px;height:150px;border:0;position:fixed; top:0; right:0;">
    </a>
  </h2>

</body>
</html>
