<html>
<head>
<style>
body  {
  background: url('/images/booksonwhite.jpg')
  no-repeat center center fixed;
  background-size: cover;
}
/* Background image for home page only */
</style>
</head>


  <h1 style="background-color:white; opacity: 0.90; border-radius: 5px; padding: 20"><center> Welcome to The Library</center></h1>

  <h2 style="background-color:white;opacity: 0.80; border-radius: 5px; padding: 20">   Google can bring you back 100,000 answers; but a librarian will bring you back the right one' – Neil Gaiman  </h2>
<body>
<!--
  <h2 style="background-color:white;opacity: 0.80;border-radius: 15px">   Google can bring you back 100,000 answers; but a librarian will bring you back the right one' – Neil Gaiman  </h2> -->



</body>
</html>
