<form method="post" action="/loans">

  <select name="member_id">
    <% for member in @members %>
    <option value="<%= member.id %> ">
    <%= "#{member.first_name} #{member.last_name}"%> </option>
    <% end %>
  </select>

  <select name="book_id">
    <% for book in @books %>
    <option value="<%= book.id %> "> <%= book.title%> </option>
    <% end %>
  </select>

  <label for="loan_length">
    Length Of Loan (days)
  </label>

  <input
  id ="loan-length"
  name="loan_length"
  type="number"
  min="1"
  max="21">

  <input type="submit" value="Loan book out!">
  
</form>
