<h1></h1>

<h2>You are about to confirm the return of this book/loan</h2>
<br>
<h3>Please confirm book is in good condition before proceeding</h3>
<br>
<br>

<form method="post" action="/loans/<%= @loan.id %>/returned">



  <input id="Radio1" type="radio" class="radio" name="book_returned" data-value="true" />Book Returned?


  <input type="submit" value="confirm!">

</form>
