<form method="post" action="/authors/<%= @author.id %>">

  <label for="author-field">Author</label>
  <input
  type="text"
  name="author"
  id="author-field"
  value = "<%= @author.author %>"
  />
  <input type="submit" value="Submit changes to AUTHOR">
</form>
