<form method="post" action="/authors">

  <label for="author-field">Author</label>
  <input
  type="text"
  name="author"
  id="author-field"
  />
  <input type="submit" value="Add new author!">
</form>
