<h1>Author <%= @author.author %></h1>

<p>Author: <%= @author.author %></p>

<h3>Members who have read this Author</h3>

<ul>
  <% @author.members.each do |member| %>
  <li><%= member.name %></li>
  <% end %>
</ul>
