<h1>Genre <%= @genre.genre %></h1>

<p>Genre: <%= @genre.genre %></p>

<h3>Members who have read this genre</h3>

<ul>
  <% @genre.members.each do |member| %>
  <li><%= member.name %></li>
  <% end %>
</ul>
